<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World (EJS)!</h1>
    <form action="/artists">
     <button type="submit">Show Artists</button>
    </form>

    <form action="/query-1">
        <button type="submit">Query 1</button>
    </form>

    <form action="/query-2">
        <button type="submit">Query 2</button>
    </form>

    <form action="/query-3">
        <button type="submit">Query 3</button>
    </form>

    <form action="/query-4">
        <button type="submit">Query 4</button>
    </form>

    <form action="/query-5">
        <button type="submit">Query 5</button>
    </form>

    <form action="/query-6">
        <button type="submit">Query 6</button>
    </form>

    <form action="/query-7">
        <button type="submit">Query 7</button>
    </form>

    <form action="/query-8">
        <button type="submit">Query 8</button>
    </form>

    <form action="/query-9">
        <button type="submit">Query 9</button>
    </form>

    <form action="/query-10">
        <button type="submit">Query 10</button>
    </form>

    <form action="/query-11">
        <button type="submit">Query 11</button>
    </form>

    <form action="/query-12">
        <button type="submit">Query 12</button>
    </form>

    <form action="/query-13">
        <button type="submit">Query 13</button>
    </form>

    <form action="/query-14">
        <button type="submit">Query 14</button>
    </form>

    <form action="/query-15">
        <button type="submit">Query 15</button>
    </form>
</body>
</html>