<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query 10 Results</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          padding: 8px;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Artist Id</th>
                <th>Name</th>
                <th>Continents</th>
            </tr>
        </thead>
        <tbody>
            <% query13.forEach(row => { %>
                <tr>
                    <td><%= row.artist_id %></td>
                    <td><%= row.name %></td>
                    <td><%= row.Continents_participated %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    
    <br>
    <a href="/">Back to Home</a>
</body>
</html>